<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="http://imageshack.com/a/img907/4205/rzY8Tm.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="http://imageshack.com/a/img633/174/a4B7n6.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="http://imageshack.com/a/img910/6664/86bITm.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Bem Vindo ao</small>
                </h2>
                <h1 class="brand-name">Sushi Gama</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>Por
                        <strong>Matheus F. & Lucas A.</strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Qual a origem 
                    <strong>do Sushi?</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="http://ccook3.vila.to/receita/arroz-para-sushi-f8-433.jpg" alt="">
                <hr class="visible-xs">
                <p>O sushi nasceu da necessidade que o povo asiático tinha de conservar o peixe cru. Por meio de uma técnica de conservação criada no Sudeste Asiático, os japoneses acabaram inventando o sushi, prato tão tradicional da culinária japonesa.</p>
                <p>O sushi foi inventado no século IV a.C. Nessa época, os asiáticos utilizavam o arroz cozido para conservar o peixe salgado por meio da fermentação do arroz. Eles enrolavam o peixe no arroz e depois de alguns meses, descartavam o arroz e consumiam apenas o peixe.</p>
                <p>Com o passar do tempo, os japoneses começaram a consumir o peixe e o arroz temperados com o molho shoyu. O primeiro sushi moderno, como comemos hoje em dia, foi criado no século XV e era chamado de “Nama Nare zushi”.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
});
</script>
