<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Um pouco de
                    <strong>Sushi Gama</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="http://kirosushi.com.br/wp-content/uploads/2015/07/kiro2-1030x664.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>Fruto de um sonho, <strong>Sushi Gama</strong> fora fundado no fim de 2015 por dois grandes empreendedores, Lucas Andrade e Matheus Figueiredo.</p>
                <p>Mesmo em tempos de crise, ambos acreditaram em seu potencial e decidiram abrir uma pequena loja de venda de sushi. Contudo, percebendo a saturação do mercado nesse ramo propuseram um diferencial: o Delivery. Destaque esse que permitiu o crescimento rápido da empresa, onde dentro de 6 meses abriram mais três filiais além de 300% de aumento no quadro de funcionários.</p>
                <p>Mas nada disso seria suficiente se ambos não acreditassem em sua força de vontade e na paixão que têm pelo produto vendido.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Nossa
                    <strong>Equipe</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://imageshack.com/a/img903/8586/e2dV7V.jpg" alt="">
                <h3>Lucas Andrade
                    <small>Diretor</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://www.sanmichel.com.br/sky/images/sushiman.png" alt="">
                <h3>Sam Kimura
                    <small>Chef Sushiman</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://imageshack.com/a/img908/1386/ST06nF.jpg" alt="">
                <h3>Matheus Figueiredo
                    <small>Diretor</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->
