<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></small></h4>
     <% if product.id == 1 %>
        <img class="img-responsive img-border img-left" src= "http://media-cdn.tripadvisor.com/media/photo-s/07/4a/c0/47/sassa-sushi.jpg"alt=""%>
                <% elsif product.id == 2 %>
        <img class="img-responsive img-border img-left" src= "https://s3.amazonaws.com/static.ifood.com.br/imagens/ce/pratos/10964/10964_15150813_HotCamaro10.jpg"alt=""%>
                <% elsif product.id == 3 %>
        <img class="img-responsive img-border img-left" src= "http://www.saikoolounge.com.br/wp-content/uploads/2013/01/Hossomaki-Shake-Make.jpg"alt=""%>
                <% elsif product.id == 4 %>
        <img class="img-responsive img-border img-left" src= "http://gynsushi.com.br/delivery/wp-content/uploads/2014/08/Sushi-Kani.jpg"alt=""%>
                <% elsif product.id == 5 %>
        <img class="img-responsive img-border img-left" src= "http://chowasushi.com.br/images/makisushi.png"alt=""%>
                <% elsif product.id == 6 %>
        <img class="img-responsive img-border img-left" src= "https://rodandoemsp.files.wordpress.com/2010/05/dsc00552.jpg"alt=""%>
                <% elsif product.id == 7 %>
        <img class="img-responsive img-border img-left" src= "https://img.peixeurbano.com.br/?img=https://s3.amazonaws.com/pu-mgr/default/a0RG000000aMMxUMAW/54b7a956e4b048ccbf7968e7.jpg&w=620&h=400"alt=""%>
                <% elsif product.id == 8 %>
        <img class="img-responsive img-border img-left" src= "http://jbchost.com.br/grj/img/galerias/japengo_04.jpg"alt=""%>
                <% elsif product.id == 9 %>
        <img class="img-responsive img-border img-left" src= "http://receitasedicasrapidas.com/wp-content/uploads/2015/01/fazer-sashimi-Salmao-1.jpg"alt=""%>
               <% elsif product.id == 10 %>
        <img class="img-responsive img-border img-left" src= "http://meijisushi.com.br/wp-content/uploads/Sashimi-Tako-Polvo-988x741.jpg"alt=""%>
               <% elsif product.id == 11 %>
        <img class="img-responsive img-border img-left" src= "http://gnt.estaticos.tv.br/migracao/fckeditor/image/Temaki-Salmao-Cream-Cheese6.jpg"alt=""%>
               <% elsif product.id == 12 %>
        <img class="img-responsive img-border img-left" src= "http://kikoni.com.br/uploads/cardapio/imagens/102/grande/temaki-philadelfia.png"alt=""%>
                <% elsif product.id == 13 %>
        <img class="img-responsive img-border img-left" src= "http://www.nankinsushi.com.br/uploads-quati/files/54090_album_271.jpg"alt=""%>
                <% elsif product.id == 14 %>
        <img class="img-responsive img-border img-left" src= "http://www.chinainbox.com.br/Fotos_China/tradicionais/images/yakisoba_classico.png"alt=""%>
                <% elsif product.id == 15 %>
        <img class="img-responsive img-border img-left" src= "http://www.chinainbox.com.br/Fotos_China/tradicionais/images/yakisoba_de_camarao.png"alt=""%>

     <% end %>
      
      <hr class="visible-xs">
    </div>

    <div class="col-xs-4">

      
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Preço Unitário: <span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Adicionar", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>